<!-- Logo -->
<a class="logo">
     <!-- mini logo for sidebar mini 50x50 pixels -->
     <span class="logo-mini">CDL </span>
     <!-- logo for regular state and mobile devices -->
     <span class="logo-lg"><b>Construtor Digital</b></span>
</a>

<nav class="navbar navbar-static-top">
     <!-- <a href class="sidebar-toggle" data-toggle="push-menu"></a> -->
     <a href class="sidebar-toggle" data-toggle="push-menu"></a>
     <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">

               <!-- User Account: style can be found in dropdown.less -->
               <li class="dropdown user user-menu closed">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                         <span> NOME</span>
                    </a>
                    <li>
                         <a href="#" ng-click=""><i class="fa fa-sign-out"></i></a>
                    </li>
               </li>
          </ul>
     </div>
</nav>