<!DOCTYPE html>
<section class="content" ng-controller="EventosCtrl as eCtrl">
     <div class="content">
          <p>TESTE</p>
          <br>

          <h3>Modelo de eventos no controller: </h3>
          {{ eCtrl.eventos }}
     </div>
</section>